html, body, canvas {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 0;
  background-image: radial-gradient(#d2eaec, #80a1a5);
  font-family: 'Montserrat', sans-serif;
}
.ground {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  background-color: #d0c49f;
}
.play-again {
  background-color: #e1e1e1;
  background-image: none;
}
.play-again .ground {
  background-color: #988d74;
}

.hidden {
  display: none;
}

.menu #menu, .menu-options #menu-options, .menu-about #menu-about,
.menu-help #menu-help, .play-again #play-again, .intro #intro, .game #game,
.menu-leaderboard #menu-leaderboard {
  display: flex; /* weird */
}

.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.text-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  margin: 10px 10%;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  max-height: 70%;
  overflow: auto;
  max-width: 700px;
}
.text-container h1 {
  font-weight: normal;
  font-size: 36px;
  margin: 0;
}
.text-container h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
}
.text-container p {
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
}
.text-container code {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding: 0 5px;
}
.text-container li {
  font-size: 16px;
  margin-top: 15px;
}
.link {
  color: white;
  text-shadow: 0 0 10px white;
}
.game-title {
  font-size: 40px;
  color: #b72020;
  text-shadow: 0 0 20px rgba(203, 70, 70, 1), 0 0 5px rgba(203, 70, 70, 0.5);
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.submit-score-label, .submit-score-error {
  font-size: 16px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.submit-score-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  box-sizing: border-box;
}
.submit-score-error {
  background-color: #bb5454;
  color: white;
  padding: 10px 20px;
}
#submit-score {
  flex: none;
}
input, select {
  border: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font: inherit;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1;
}
input:focus, select:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: auto;
}
.number {
  width: 4ch;
}
input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('./images/checkbox_no.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
input[type=checkbox]:focus {
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-image: url('./images/checkbox_yes.svg');
}
#docs-link {
  flex: auto;
  width: 0;
  margin-right: 10px;
  padding: 10px;
}
button {
  font: inherit;
  cursor: pointer;
}
.btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  border-radius: 5px;
  transition: background-color .2s;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
}
.btn:not(.disabled):not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.btn:focus {
  outline: none; /* oh well */
}
.disabled, :disabled {
  opacity: 0.5;
  cursor: default;
}
.menu-btn {
  font-size: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0;
}
.transparent, .border {
  background-color: transparent;
  transition: letter-spacing .2s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.border {
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  transition: background-color .2s;
}
.btn.transparent:hover {
  color: white;
  background-color: transparent;
  letter-spacing: 3px;
}
.btn.border:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.score-label {
  font-size: 20px;
  margin: 0;
}
#highscore {
  font-size: 20px;
  margin: 0;
}
#score {
  font-size: 60px;
  margin: 0;
}
#intro, #game {
  justify-content: flex-end;
}
#skip-intro, #skip-end {
  margin-bottom: 16px;
  font-size: 24px;
}

#touch-circle {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  margin: -65px;
  background-image: url('./images/touch-circle.svg');
  background-size: 270px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.game-ui {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.scores {
  flex: none;
  padding: 10px;
  min-width: 120px;
}
#current-score {
  font-size: 40px;
  display: block;
}
#coins {
  font-size: 20px;
  padding: 5px;
  padding-left: 20px;
  background-image: url('./images/aplus.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
}
.shop-btn {
  flex: auto;
  border: none;
  background: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  color: inherit;
  position: relative;
}
.shop-btn:not(.disabled):not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.shop-btn.disabled {
  opacity: 0.5;
  cursor: default;
}
.label {
  font-size: 8px;
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  white-space: nowrap;
}
@media (min-width: 500px) {
  .label {
    font-size: 16px;
    top: 5px;
  }
  .price {
    font-size: 20px;
    bottom: 0;
  }
}
.price {
  font-size: 12px;
  background-image: url('./images/aplus.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px;
  position: absolute;
  bottom: 5px;
  transform: translateX(-50%);
  padding-left: 12px;
}
.shop-btn:focus {
  outline: none;
}
#buy-speedy { background-image: url('./images/super_speed.svg'); }
#buy-life { background-image: url('./images/extra_life.svg'); }
#buy-reset { background-image: url('./images/turtle.svg'); }
#lives {
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 0 0 3px black;
}

#leaderboard-container {
  font-size: 16px;
  text-align: center;
}
.fetch-again-btn {
  display: block;
  margin: 0 auto;
}
.leaderboard-item {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  color: white;
  text-decoration: none;
  line-height: 1;
  margin-top: 10px;
  transition: box-shadow .2s;
  background-position: 90% 50%;
  background-size: 96px;
  background-repeat: no-repeat;
}
.leaderboard-item:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
.death-by-backpack { background-image: url('./images/backpack.svg'); }
.death-by-fence { background-image: url('./images/construction_fence.svg'); }
.death-by-cart { background-image: url('./images/trash_cart.svg'); }
.death-by-tree { background-image: url('./images/caterpillar_tree.svg'); }
.death-by-sign { background-image: url('./images/hailself.svg'); }
.leaderboard-item span {
  display: block;
}
.coins {
  background-image: url('./images/aplus.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px;
  padding-left: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.score {
  font-size: 36px;
}
.time {
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  margin-top: 5px;
}
.url {
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.3);
  font-size: 8px;
  margin-top: 5px;
}
p.sort-label {
  text-align: right;
  font-size: 16px;
  margin-top: -10px;
}

.preloader {
  position: fixed;
  width: 1px;
  height: 1px;
  opacity: 0.1;
  background-image: url('./images/touch-circle.svg'),
    url('./images/aplus.svg'), url('./images/super_speed.svg'),
    url('./images/extra_life.svg'), url('./images/turtle.svg'),
    url('./images/backpack.svg'), url('./images/construction_fence.svg'),
    url('./images/trash_cart.svg'), url('./images/caterpillar_tree.svg'),
    url('./images/hailself.svg'),
    url('./images/checkbox_no.svg'), url('./images/checkbox_yes.svg');
}
